:root {
  --background-gray: #f5f5f5;
}

:root {
  --background-blue: #e4e5f0;
}

:root {
  --bright-blue: #5965e3;
}

:root {
  --gray: #262626;
}

@font-face {
  font-family: PoppinsRegular;
  src: url("../css/fonts/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

/* * {
  animation: fadeIn 1s;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
} */

html {
  scroll-behavior: smooth;
}

/* .scroll-watcher {
  height: 6px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #5965e3;
  width: 100%;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  transform-origin: left;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
} */

nav {
  background-color: var(--background-blue);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: PoppinsRegular;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  text-decoration: underline;
}

.link-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.home-text-cont {
  width: 60%;
  display: flex;
}

.home-text {
  font-family: PoppinsRegular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 50%;
}

.home-text2 {
  font-family: PoppinsRegular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
  font-size: 30px;
}

.home-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/AdobeStock_294293388.jpeg);
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  animation: hero-animation linear forwards;
  animation-timeline: view();
}

@keyframes hero-animation {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

.home-text h1 {
  font-size: 70px;
}

.home-text p {
  margin-top: 10px;
}

.home-text2 {
  text-shadow: 2px 2px 2px black;
}

.works-button {
  height: 80px;
  width: 200px;
  background-color: #000;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.works-button a {
  text-decoration: none;
  color: var(--background-pink);
}

.home-image {
  background-image: url(../images/nate.jpg);
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-works {
  height: 1400px;
  width: 100%;
  background-color: var(--background-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  height: 10px;
  width: 150px;
  background-color: var(--bright-blue);
}

.home-works h1 {
  font-family: PoppinsRegular;
  padding: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.works-container {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.workrow1 {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  background-color: var(--background-gray);
}

.workrow2 {
  display: flex;
  width: 100%;
  justify-content: center;
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08); */
  background-color: var(--background-blue);
}

.row {
  display: flex;
  width: 60%;
}

.works {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: PoppinsRegular;
}

.works-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: PoppinsRegular;
}

.works2 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: PoppinsRegular;
}

.works2 h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-shadow: 1px 1px var(--bright-blue);
}

.works2 a {
  text-decoration: none;
}

.viewproject {
  width: 130px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* border: #000 3px solid; */
  background-color: black;
  margin-top: 30px;
  color: white;
}

.colored {
  color: var(--bright-blue);
}

.works-img {
  height: 80%;
  width: 80%;
  background-image: url(../images/shoppingsite.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.works-img2 {
  height: 80%;
  width: 80%;
  background-image: url(../images/digitalphotography.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.works-img3 {
  height: 80%;
  width: 80%;
  background-image: url(../images/icecreamapp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.backtotop {
  background-color: var(--background-gray);
  padding-bottom: 50px;
  font-family: PoppinsRegular;
}

.backtotop a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.about {
  height: 800px;
  width: 100%;
  background-color: var(--background-gray);
  display: flex;
  justify-content: center;
}

.about-cont {
  width: 60%;
  /* background-color: gray; */
  height: 100%;
  display: flex;
  align-items: center;
}

.about-img {
  height: 70%;
  width: 40%;
  background-color: #b6b8e0;
}

.about-img2 {
  position: relative;

  background-image: url(../images/nate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  top: 15px;
  left: 15px;
}

.about-text {
  font-family: PoppinsRegular;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  height: 70%;
}

.about-text h2 {
  font-size: 100px;
  text-shadow: 5px 5px #b6b8e0;
}

.about-text p {
  height: 50%;
  width: 50%;
  line-height: 30px;
}

footer {
  height: 70px;
  width: 100%;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-cont {
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-family: PoppinsRegular;
  color: white;
  font-size: 12px;
}

/* 
--------------------------------------------
PROJECT 1
--------------------------------------------
*/

.home-works2 {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Screenshot\ 2024-02-21\ 225626.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-works2 h1 {
  font-family: PoppinsRegular;
  padding: 50px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.works2-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: var(--background-gray);
}

.proj1prob {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: PoppinsRegular;
  font-size: 18px;
  line-height: 40px;
}

.proj1prob h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-shadow: 1px 1px var(--bright-blue);
}

.proj1prob2 h1 {
  font-size: 70px;
}

.proj1sol {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: PoppinsRegular;
  font-size: 18px;
  line-height: 40px;
}

.proj1sol h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-shadow: 1px 1px black;
  color: var(--bright-blue);
}

.projrow {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.project1persona {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-color: var(--background-blue);
}

.persona {
  height: 100%;
  width: 60%;
  font-family: PoppinsRegular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.persona h2 {
  font-size: 70px;
  text-shadow: 5px 5px #b6b8e0;
  display: flex;
  margin-top: 50px;
}

.personaimg {
  background-image: url(../images/persona.png);
  width: 70%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.proj1role {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: PoppinsRegular;
}

.proj1role h2 {
  font-size: 70px;
}

.proj1role li {
  font-size: 24px;
  padding: 10px;
  text-shadow: 1px 1px var(--bright-blue);
}

.workrowrole {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  background-color: var(--gray);
  color: white;
}

.project1flowchart {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-color: var(--background-blue);
}

.flowchart {
  height: 100%;
  width: 60%;
  font-family: PoppinsRegular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flowchart h2 {
  font-size: 70px;
  text-shadow: 5px 5px #b6b8e0;
  display: flex;
  margin-bottom: 20px;
}

.flowchartimg {
  background-image: url(../images/Design\ and\ Prototype\ Deliverable-01.png);
  width: 70%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project1prototype {
  height: 90vh;
  display: flex;
  justify-content: center;
  background-color: var(--gray);
}

.prototype {
  height: 100%;
  width: 60%;
  font-family: PoppinsRegular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prototype h2 {
  font-size: 70px;
  display: flex;
  margin-bottom: 20px;
  color: var(--background-gray);
}

.prototypeimg {
  background-image: url(../images/LowFiPrototype.png);
  width: 100%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.proj1prob2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: PoppinsRegular;
  font-size: 40px;
  text-shadow: 5px 5px #b6b8e0;
}

.hifiprototypeimg {
  background-image: url(../images/LowFiPrototype.png);
  width: 100%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home-works3 {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/virtualphotographypages.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-works3 h1 {
  font-family: PoppinsRegular;
  padding: 50px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.flowchartimg2 {
  background-image: url(../images/virtualphotographyflowchartr.png);
  width: 70%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.prototypeimg2 {
  background-image: url(../images/vpfirstproto.png);
  width: 100%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home-works4 {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/icecreamapphero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-works4 h1 {
  font-family: PoppinsRegular;
  padding: 50px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.flowchartimg3 {
  background-image: url(../images/icecreamappflowchart.png);
  width: 70%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.prototypeimg3 {
  background-image: url(../images/icecreamapplowfi.png);
  width: 100%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.flowchartheader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.flowchartheader a {
  text-decoration: none;
}

.viewinfigma {
  height: 50px;
  width: 150px;
  background-color: black;
  margin-left: 50px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1700px) {
  .projrow p,
  li {
    font-size: 12px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 1300px) {
  .proj1prob2 h1 {
    font-size: 50px;
  }
  .flowchartheader h2 {
    font-size: 50px;
  }
  #home-works h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1000px) {
  #home-works h1 {
    font-size: 50px;
  }
  .projrow p,
  li {
    line-height: 25px;
  }
  .projrow h2 {
    font-size: 20px;
  }
  .proj1prob2 h1 {
    font-size: 30px;
  }
  .flowchartheader h2 {
    font-size: 30px;
  }
}
